$pink: #DD3E77;
$orange: #FAA31A;
$blue: #37B7E6;
$green: #04966E;

$primary-color: $pink;
$primary-color-dark: #a81e4f;
$secondary-color: $blue;
$table-border-color: #111;
$table-header-bg-color: $primary-color;

@font-face {
  font-family: 'Poppins';
  src: url('style_resources/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('style_resources/fonts/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Light';
  src: url('style_resources/fonts/Poppins-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0 !important;
  max-height: 100vh;
  max-width: 100vw;
}

table{
  border:none !important;
  max-width:100%;
  font-size:0.8em;

  td {
    border:none !important;
    padding: 0 !important;
  }

  img {
    height: auto;
  }
}

intro-section {
  @extend .container;
  min-height: 90vh !important;
  padding-top: 75px;
  flex-direction: column;
  background-image: url('style_resources/logos/noora_logo_color.png');
  background-size: 100px;
  background-position: top 25px center;
  background-repeat: no-repeat;

  img {
    height: 40vh;
    width: 100vw;
    max-width: 100vw;
  }

  content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 15%;

    .title {
      font-size: 1.5em;
      font-weight: bolder;
      font-family: 'Poppins Medium', sans-serif;
    }

    module-title {
      @extend .title;
      color: $pink;
    }

    lesson-title {
      @extend .title;
      color: $green;
      padding-top: 10%;
    }

    module-description,
    lesson-description {
      font-family: 'Poppins Light', sans-serif;
      line-height: 1.2em;
    }
  }
}

video-section {
  @extend .container;
  background-image: url('style_resources/shapes/square-orange.svg'), url('style_resources/shapes/square-blue-border.svg'),
                    url('style_resources/shapes/square-orange.svg'), url('style_resources/shapes/square-blue-border.svg');
  background-position: top 15vh right -15vw, top -25vh right -40vw,
                        bottom 15vh left -15vw, bottom -25vh left -40vw;
  background-size: 100px 100px, 300px 300px, 100px 100px, 300px 300px;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;

  p {
    margin: 0 50px;
  }

  video-content {
    box-sizing: border-box;
    border: 15px solid $green;
    border-radius: 20px;
    width: 100%;

    img {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }
}

audio-section {
  @extend .container;
  align-items: unset !important;
  background-color: #FDFAF7;

  content,
  slide {
    @extend .content;
    gap: 5%;
  }
}

noor-section {
  @extend .container;
  align-items: unset !important;

  content,
  slide {
    @extend .content;
    background-color: #37B7E6;
    background-image: url('style_resources/shapes/square-green.svg'), url('style_resources/shapes/square-pink.svg');
    background-position: top -35vh left -40vw, bottom -30vh right -40vw;
    background-size: 300px 300px;
    background-repeat: no-repeat;

    &:nth-of-type(even) {
      background-image: url('style_resources/shapes/square-green.svg'), url('style_resources/shapes/square-pink.svg');
      background-position: top -35vh left 60vw, bottom -30vh right 60vw;
    }
  }

  p {
    color: white;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
  }

  #prevBtn, #nextBtn {
    color: white;
  }
}

content-section {
  @extend .container;
  align-items: unset !important;
  background-color: $orange;

  &[color="pink"] { background-color: $pink; }
  &[color="orange"] { background-color: $orange; }
  &[color="blue"] { background-color: $blue; }
  &[color="green"] { background-color: $green; }

  &[color="black"] { 
    background-color: white; 

    content, slide{ 
      margin:3%;
      border: 3px solid #333;
      max-width: 94vw !important;
    }
  }

  content,
  slide {
    @extend .content;
    flex: 0 0 auto !important;
    padding: 15% 5% !important;
    max-width: 90vw !important;
    margin: 5vw;
    border-radius: 20px;
    background-color: white;

    img {
      max-width: 100%;
      object-fit: contain;
    }

    p {
      font-family: 'Poppins', sans-serif;
      line-height: 1.2em;
    }
  }

  #prevBtn, #nextBtn {
    border-radius: 25px;
    background-color: $green;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 5px 30px;
    bottom: 5vh;
    top: unset;
    content: unset;
  }
  #prevBtn {
    left: 10vw;

    &:after {
      padding-left: 5px;
      content: 'PREV';
    }
  }

  #nextBtn {
    right: 10vw;

    &:before {
      padding-right: 5px;
      content: 'NEXT';
    }
  }

}

info-section {
  @extend .container;
  align-items: unset !important;
  background-color: #FDFAF7;

  content,
  slide {
    @extend .content;
    background-image: url('style_resources/shapes/square-blue.svg'), url('style_resources/shapes/square-green-border.svg');
    background-position: top -5vh right -15vw, bottom -25vh left -40vw;
    background-size: 100px 100px, 300px 300px;
    background-repeat: no-repeat;
    padding: 5% !important;

    &:nth-of-type(even) {
      background-image: url('style_resources/shapes/square-blue.svg'), url('style_resources/shapes/square-green-border.svg');
      background-position: top -5vh right 85vw, bottom -25vh left 60vw;
    }
  }

  #prevBtn, #nextBtn {
    top: 40vh;
    color: $pink;
  }

  &[type="feedback"] {

    content,
    slide {
      @extend .content;
      background-image: url('style_resources/shapes/square-blue-border.svg'), url('style_resources/shapes/square-blue-border.svg');
      background-position: top -40vh left -40vw, bottom -40vh right -40vw;
      background-size: 300px 300px;
      background-repeat: no-repeat;
      padding: 5% !important;
    }

  }
  &[type="gallery"] {

    h2{ color: #444; font-size:160%; margin-bottom:0;}

    content,
    slide {
      background-image: url('style_resources/shapes/square-green-border.svg'), url('style_resources/shapes/square-orange.svg');
      background-position: top -30vh right -45vw, bottom -5vh left -5vw;
      background-size: 300px, 100px;
      &:nth-of-type(even) {
        background-image: url('style_resources/shapes/square-green-border.svg'), url('style_resources/shapes/square-orange.svg');
        background-position: top -30vh left -45vw, bottom -5vh right -5vw;
      }

      img {
        object-fit: cover;
        border-radius: 50%;
        width: 50vw;
        height: 50vw;
        margin: 10% 0;
      }
    }
  }
  &[type="1"] {
    content,
    slide {
      background-image: url('style_resources/shapes/square-blue.svg'), url('style_resources/shapes/square-green-border.svg');
      &:nth-of-type(even) {
        background-image: url('style_resources/shapes/square-blue.svg'), url('style_resources/shapes/square-green-border.svg');
      }
    }
  }
  &[type="2"] {
    content,
    slide {
      padding: 10% !important;
      background-image: url('style_resources/shapes/square-pink.svg'), url('style_resources/shapes/square-orange-border.svg');
      &:nth-of-type(even) {
        background-image: url('style_resources/shapes/square-pink.svg'), url('style_resources/shapes/square-orange-border.svg');
      }
    }
  }
  &[type="3"] {
    content,
    slide {
      padding: 10% !important;
      background-image: url('style_resources/shapes/square-orange.svg'), url('style_resources/shapes/square-blue-border.svg');
      &:nth-of-type(even) {
        background-image: url('style_resources/shapes/square-orange.svg'), url('style_resources/shapes/square-blue-border.svg');
      }
    }
  }
  &[type="4"] {
    content,
    slide {
      padding: 10% !important;
      background-image: url('style_resources/shapes/square-pink.svg'), url('style_resources/shapes/square-green-border.svg');
      &:nth-of-type(even) {
        background-image: url('style_resources/shapes/square-pink.svg'), url('style_resources/shapes/square-green-border.svg');
      }
    }
  }

}

what-we-learned-section {
  @extend .container;
  background-image: url('style_resources/shapes/double_circle.svg'), url('style_resources/shapes/double_circle.svg'),
                    url('style_resources/shapes/double_circle.svg'), url('style_resources/shapes/double_circle.svg'),
                    url('style_resources/shapes/double_circle.svg'), url('style_resources/shapes/double_circle.svg');
  background-position: top -20% left -60%, top 0 right -80%, top -15% right 20%,
                        bottom -20% right -50%, bottom -10% left 50%, bottom 10% left -90%;
  background-size: 200px 200px, 200px 200px, 100px 100px,
                   200px 200px, 100px 100px, 200px 200px;
  background-repeat: no-repeat;

  section-title {
    width: 100%;
    align-self: start;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Poppins Medium', sans-serif;
    line-height: 1.2em;
    padding: 5% 10%;
  }
}

next-lesson-section {
  @extend .container;
  flex-direction: column;
  background-color: $blue;
  color: white;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2em;
  text-align: center;
  padding: 5%;
  justify-content: center;
}

index-section {
  @extend .container;
  background-image: url('style_resources/shapes/square-orange.svg'), url('style_resources/shapes/square-blue-border.svg');
  background-position: top -5vh right -5vw, bottom -30vh left -40vw;
  background-size: 100px 100px, 300px 300px;
  background-repeat: no-repeat;

  content {
    @extend .content;
    gap: 20px;

    item {
      display:flex;
      width: 100%;
      position: relative;
      border: 2px solid grey;
      padding: 5%;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: $pink;
      font-weight: 900;

      &[color="pink"] { color: $pink; }
      &[color="green"] { color: $green; }
      &[color="blue"] { color: $blue; }
      &[color="orange"] { color: $orange; }

      &:before {
        display: flex;
        content: attr(order);
        position:absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: $pink;
        border-radius: 50%;
        margin: -10px;
        align-items: center;
        justify-content: center;
        color: white;

        &[color="pink"] { background-color: $pink; }
        &[color="green"] { background-color: $green; }
        &[color="blue"] { background-color: $blue; }
        &[color="orange"] { background-color: $orange; }

      }
    }
  }
}

chapter-section {
  @extend .container;
  background-color: $pink;

  content {
    @extend .content;
    font-size: 1.3em;
    color: white;
    gap: 24px;
    padding: 5% !important;

      img {
        height: auto;
        width: 40vw;
        background-color: white;
        border-radius: 50%;
        border: 15px solid $orange;
        padding: 10%;
        box-sizing: content-box;
        overflow: visible;
        margin: 0;
      }
  }
}

definition-section {
  @extend .container;
  align-items: unset !important;
  background-color: #FDFAF7;

  content,
  slide {
    @extend .content;
    justify-content: unset !important;
    padding: 5% !important;

    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      margin: 24px 0;
    }

  }

  #prevBtn, #nextBtn {
    border-radius: 25px;
    background-color: $orange;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    text-align: center;
    padding: 5px 30px;
    bottom: 5vh;
    top: unset;
    content: unset;
  }
  #prevBtn {
    left: 10vw;

    &:after {
      padding-left: 5px;
      content: 'PREV';
    }
  }

  #nextBtn {
    right: 10vw;

    &:before {
      padding-right: 5px;
      content: 'NEXT';
    }
  }

}

feedback-result {
  display: flex;

  feedback-card {
    width: 100vw;
    margin: 10px;
    border-radius: 25px;
    outline-offset: -15px;
    background-color: white;
    overflow: hidden;
    border: 5px solid $green;
    outline: 3px dashed $green;
    padding: 5%;

    &[color="pink"] {
      border: 5px solid $pink;
      outline: 3px dashed $pink;
    }
    &[color="blue"] {
      border: 5px solid $blue;
      outline: 3px dashed $blue;
    }
    &[color="orange"] {
      border: 5px solid $orange;
      outline: 3px dashed $orange;
    }
    &[color="green"] {
      border: 5px solid $green;
      outline: 3px dashed $green;
    }


    content {
      background-color: #FDFAF7;
      text-align: left !important;

      answer {
        width: 100%;
        color: $pink;
        display: flex;
        box-sizing: border-box;
        background-color: white;
        text-align: center;
        border: 1px solid grey;
        padding: 5%;
      }

    }
  }
}

activity-time-section {
  @extend .container;
  background-color: #444746;
  background-image: url('style_resources/shapes/square-pink.svg'), url('style_resources/shapes/square-blue.svg');
  background-position: top -35vh right -35vw, bottom -35vh left -35vw;
  background-size: 300px 300px;
  background-repeat: no-repeat;

  content {
    @extend .content;
    color: white;

    img {
      width: 50%;
      height: auto;
      margin-bottom: 25px
    }

    h1 {
      color: white !important;
      font-size: 2em;
    }

    p {
      font-size: 1.2em;
    }
  }
}

know-more{
  display: flex;
  flex-direction: column;
  width:60vw;
  margin:auto;

  &.columns{
    width:85vw;
  }

  item{
    @extend noora-button;
    background-color:white !important;
    color:$pink !important;
    border:1px solid $pink;
    font-weight: bold;
    display:block;
    width:auto;
    margin-bottom:1em;

    &[highlighted]{
      background:$pink  !important;
      color:white !important;
    }
  }

  modal{
      @extend card;
      margin: 5%;

      color:#333;
      border:3px solid $pink;

      display: flex;
      align-items: center;
      background:white !important;

      &.lead{
        font-size:1.3em;
      }

      .close {
        position: absolute;
        left: 24px;
        top: 24px;
        width: 28px;
        height: 28px;
      
        &:before, &:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: $pink;
        }
        &:before { transform: rotate(45deg); }
        &:after { transform: rotate(-45deg); }

      }


      &[color="blue"] {
        width:auto;
        left:0;
        right:0;
        top:10%;
        padding:5%;

        border: 5px solid $blue;
        outline: 3px dashed $blue;
        
        h1, h2{ color: $blue; }
        .close:before, .close:after { background-color: $blue; }
      }
  }

  &[color="pink"] {
    item {
      color:$pink !important;
      border:1px solid $pink;

      &[highlighted]{
        background:$pink !important;
        color:white !important;
      }
    }

    modal {
      border:3px solid $pink;

      .close {
        &:before, &:after {
          background-color: $pink;
        }
      }
    }
  }
  &[color="blue"] {
    item {
      color:$blue !important;
      border:1px solid $blue;

      &[highlighted]{
        background:$blue  !important;
        color:white !important;
      }
    }

    modal {
      border:3px solid $blue;

      .close {
        &:before, &:after {
          background-color: $blue;
        }
      }
    }
  }
  &[color="orange"] {
    item {
      color:$orange !important;
      border:1px solid $orange;

      &[highlighted]{
        background:$orange !important;
        color:white !important;
      }
    }

    modal {
      border:3px solid $orange;

      .close {
        &:before, &:after {
          background-color: $orange;
        }
      }
    }
  }
  &[color="green"] {
    item {
      color:$green !important;
      border:1px solid $green;

      &[highlighted]{
        background:$green !important;
        color:white !important;
      }
    }

    modal {
      border:3px solid $green;

      .close {
        &:before, &:after {
          background-color: $green;
        }
      }
    }
  }
}


.modal-fade{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-color: rgba(255,255,255,0.75);
  }


noor {
  width: 100vw;
  min-height: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('style_resources/noor/noor_1.png');

  &[icon="1"] { background-image: url('style_resources/noor/noor_1.png'); }
  &[icon="2"] { background-image: url('style_resources/noor/noor_2.png'); }
  &[icon="3"] { background-image: url('style_resources/noor/noor_3.png'); }
  &[icon="4"] { background-image: url('style_resources/noor/noor_4.png'); }
  &[icon="5"] { background-image: url('style_resources/noor/noor_5.png'); }
  &[icon="6"] { background-image: url('style_resources/noor/noor_6.png'); }
  &[icon="7"] { background-image: url('style_resources/noor/noor_7.png'); }
  &[icon="8"] { background-image: url('style_resources/noor/noor_8.png'); }
  &[icon="9"] { background-image: url('style_resources/noor/noor_9.png'); }
  &[icon="10"] { background-image: url('style_resources/noor/noor_10.png'); }
}

.question-box {
  background-color: $orange;
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 1.2em;
  font-family: Poppins, sans-serif;
  line-height: 1.2em;
  border-radius: 100px;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  min-height: 100vh;
  overflow-x: scroll;
  align-items: center;

  &[pagination="true"] {
    .pagination {
      display: flex;
      position: fixed;
      width: 80%;
      left: 10%;
      top: 45px;
      gap: 5px;

      .pagination-item {
        width: 100%;
        height: 5px;
        border-radius: 15px;
        background-color: darkgrey;

        &.active {
          background-color: $green;
        }
      }
    }
  }

  p,
  h1, h2, h3, h4,
  span {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;

    &[color="blue"] { color: $blue; font-weight: bold; }
    &[color="pink"] { color: $pink; font-weight: bold; }
    &[color="green"] { color: $green; font-weight: bold; }
    &[color="orange"] { color: $orange; font-weight: bold; }
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 100vw;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 45px;
  text-align: center;
  max-width: 100vw;
}

#slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100vh;
  touch-action: pan-x;
  overflow-x: scroll;
}

.slide {
  display: flex;
  flex-direction: column;
  flex: 0 0 100vw;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 45px;
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
}

#prevBtn, #nextBtn {
  position: fixed;
  top: 50vh;
  font-size: 2em;
  cursor: pointer;
  border: none;
  padding: 10px;
  z-index: 1;
  touch-action: none;
}

#prevBtn { left: 5vw; }
#nextBtn { right: 5vw; }

card {
  width: 65vw;
  min-height: 65vw;
  position: absolute;
  top: 20%;
  left: 12%;
  right: 12%;
  display: grid;
  border-radius: 40px;
  outline-offset: -20px;
  padding: 15px;
  transition: transform .5s ease;
  transform-origin: bottom center;
  cursor: pointer;
  background-color: white;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;

  &[color="pink"] {
    border: 5px solid $pink;
    outline: 3px dashed $pink;
  }

  &[color="blue"] {
    border: 5px solid $blue;
    outline: 3px dashed $blue;
  }

  &[color="orange"] {
    border: 5px solid $orange;
    outline: 3px dashed $orange;
  }

  &[color="green"] {
    border: 5px solid $green;
    outline: 3px dashed $green;
  }

  &[left] { transform: rotate(-5deg); }
  &[right] { transform: rotate(5deg); }

  &.active {
    transform: rotate(0);
    z-index: 1;
  }

  content,
  card-content {
    @extend .content;
    height: 100%;
    padding: 5%;
    background-color: #FDFAF7;
    border-radius: 20px;

    img {
      height: auto;
      width: 50%;
      max-width: 90%;
      max-height: 50%;
      object-fit: contain;
      pointer-events: none;
    }

    p {
      text-align: center;
      margin: 0 5%;
    }

  };

  &.animate-leave {
    animation: leave .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  &.right-card.animate-back {
    animation: backR .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  &.left-card.animate-back {
    animation: backL .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  @keyframes leave {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-110%);
      transform: translateY(-110%) translateX(-20%);
    }
  }
  @keyframes backR {
    from {
      transform: translateY(-110%);
      transform: translateY(-110%) translateX(-20%);
    }
    to {
      transform: translateY(0) rotate(5deg);
    }
  }
  @keyframes backL {
    from {
      transform: translateY(-110%);
      transform: translateY(-110%) translateX(-20%);
    }
    to {
      transform: translateY(0) rotate(-5deg);
    }
  }
}

noora-button {
  border-radius: 25px;
  background-color: $green;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2em;
  color: white;
  padding: 5%;

  &[color="pink"] { background-color: $pink; }
  &[color="orange"] { background-color: $orange; }
  &[color="blue"] { background-color: $blue; }
  &[color="green"] { background-color: $green; }


}


/* Audio embed */

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  float: left;
}

.audio-player-container {
  --seek-before-width: 0%;
  --buffered-width: 0%;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 80px;
  background: white;
  border-radius: 100px;
  box-shadow: 0 0 2px black;

  .play-icon {
    margin: 24px 0 0 24px;
    background-size: 24px;
    background-repeat: no-repeat;

    &.play {
      background-image: url('style_resources/icons/pause_icon.svg');
    }

    &.pause {
      background-image: url('style_resources/icons/play_icon.svg');
    }
  }

  .time {
    display: inline-block;
    text-align: center;
    margin: 28.5px 5px 18.5px 0;
    float: left;
  }

}


input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 48%;
  padding: 0;
  height: 19px;
  margin: 30px 10px;
  float: left;
  outline: none;
  background-color: transparent;

}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: $blue;
  border-radius: 100px;
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 0;
  width: var(--seek-before-width);
  height: 5px;
  background-color: dimgrey;
  cursor: pointer;
  border-radius: 100px;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  height: 15px;
  width: 15px;
  background-color: $pink;
  cursor: pointer;
  margin: -5px 0 0 0;
  transform: rotate(45deg);
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: rotate(45deg) scale(1.2);
  background: $pink;
}

.columns{
  display: flex;
  flex-direction:row;
  img{
    height: auto;
    margin-bottom: 1.1em;
  }

  & > *{
    align-self: start;  
    padding:15px;
    flex-basis: 0;
    flex-grow: 1;
  }
}

.lead{
  font-size:1.3em;
}