$pink: #DD3E77;
$orange: #FAA31A;
$blue: #37B7E6;
$green: #04966E;

$primary-color: $pink;
$primary-color-dark: #a81e4f;
$secondary-color: $blue;
$table-border-color: #111;
$table-header-bg-color: $primary-color;

@font-face {
  font-family: 'Poppins';
  src: url('style_resources/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('style_resources/fonts/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Light';
  src: url('style_resources/fonts/Poppins-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0 !important;
  max-height: 100vh;
  max-width: 100vw;
}

intro-section {
  @extend .container;
  flex-direction: column;
  justify-content: center;
  background-image: url('style_resources/logos/noora_logo_color.png');
  background-size: 100px;
  background-position: top 10vh center;
  background-repeat: no-repeat;

  img {
    height: 40vh;
    width: 100vw;
    max-width: 100vw;
    margin: 10% 0;
  }

  content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20%;

    .title {
      font-size: 1.5em;
      font-weight: bolder;
      font-family: 'Poppins Medium', sans-serif;
    }

    module-title {
      @extend .title;
      color: $pink;
    }

    lesson-title {
      @extend .title;
      color: $green;
      padding-top: 10%;
    }

    module-description,
    lesson-description {
      font-family: 'Poppins Light', sans-serif;
      line-height: 1.2em;
    }
  }
}

video-section {
  @extend .container;
  background-image: url('style_resources/shapes/square-orange.svg'), url('style_resources/shapes/square-blue-border.svg'),
                    url('style_resources/shapes/square-orange.svg'), url('style_resources/shapes/square-blue-border.svg');
  background-position: top 15vh right -15vw, top -25vh right -40vw,
                        bottom 15vh left -15vw, bottom -25vh left -40vw;
  background-size: 100px 100px, 300px 300px, 100px 100px, 300px 300px;
  background-repeat: no-repeat;

  video-content {
    flex: 0 0 100vw;
    box-sizing: border-box;
    border: 15px solid $green;
    border-radius: 20px;
  }
}

noor-section {
  @extend .container;
  align-items: unset !important;

  content,
  slide {
    @extend .content;
    background-color: #37B7E6;
    background-image: url('style_resources/shapes/square-green.svg'), url('style_resources/shapes/square-pink.svg');
    background-position: top -35vh left -40vw, bottom -30vh right -40vw;
    background-size: 300px 300px;
    background-repeat: no-repeat;

    &:nth-of-type(even) {
      background-image: url('style_resources/shapes/square-green.svg'), url('style_resources/shapes/square-pink.svg');
      background-position: top -35vh left 60vw, bottom -30vh right 60vw;
    }
  }

  p {
    color: white;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
  }

  #prevBtn, #nextBtn {
    color: white;
  }
}

content-section {
  @extend .container;
  align-items: unset !important;
  background-color: $orange;

  &[color="pink"] { background-color: $pink; }
  &[color="orange"] { background-color: $orange; }
  &[color="blue"] { background-color: $blue; }
  &[color="green"] { background-color: $green; }

  content,
  slide {
    @extend .content;
    flex: 0 0 auto !important;
    padding: 5% !important;
    max-width: 90vw !important;
    margin: 5%;
    border-radius: 20px;
    background-color: white;

    img {
      max-width: 100%;
      object-fit: contain;
    }

    p {
      font-family: 'Poppins', sans-serif;
      line-height: 1.2em;
    }
  }

  #prevBtn, #nextBtn {
    color: $orange;
  }

}

info-section {
  @extend .container;
  align-items: unset !important;
  background-color: #FDFAF7;

  content,
  slide {
    @extend .content;
    background-image: url('style_resources/shapes/square-blue.svg'), url('style_resources/shapes/square-green-border.svg');
    background-position: top -5vh right -15vw, bottom -25vh left -40vw;
    background-size: 100px 100px, 300px 300px;
    background-repeat: no-repeat;
    padding: 5% !important;

    &:nth-of-type(even) {
      background-image: url('style_resources/shapes/square-blue.svg'), url('style_resources/shapes/square-green-border.svg');
      background-position: top -5vh right 85vw, bottom -25vh left 60vw;
    }
  }

  #prevBtn, #nextBtn {
    top: 40vh;
    color: $pink;
  }
}

what-we-learned-section {
  @extend .container;
  background-image: url('style_resources/shapes/double_circle.svg'), url('style_resources/shapes/double_circle.svg'),
                    url('style_resources/shapes/double_circle.svg'), url('style_resources/shapes/double_circle.svg'),
                    url('style_resources/shapes/double_circle.svg'), url('style_resources/shapes/double_circle.svg');
  background-position: top -20% left -60%, top 0 right -80%, top -15% right 20%,
                        bottom -20% right -50%, bottom -10% left 50%, bottom 10% left -90%;
  background-size: 200px 200px, 200px 200px, 100px 100px,
                   200px 200px, 100px 100px, 200px 200px;
  background-repeat: no-repeat;

  section-title {
    align-self: start;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Poppins Medium', sans-serif;
    line-height: 1.2em;
    padding: 10% 20%;
  }
}

next-lesson-section {
  @extend .container;
  flex-direction: column;
  background-color: $blue;
  background-image: url('style_resources/icons/next_lesson_icon.png');
  background-position: top 25vh center;
  background-repeat: no-repeat;
  background-size: 50vw;
  color: white;
  font-size: 1.3em;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2em;
  text-align: center;
  padding: 50vh 10%;
}

noor {
  width: 100vw;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('style_resources/noor/noor_1.png');

  &[icon="1"] { background-image: url('style_resources/noor/noor_1.png'); }
  &[icon="2"] { background-image: url('style_resources/noor/noor_2.png'); }
  &[icon="3"] { background-image: url('style_resources/noor/noor_3.png'); }
  &[icon="4"] { background-image: url('style_resources/noor/noor_4.png'); }
  &[icon="5"] { background-image: url('style_resources/noor/noor_5.png'); }
  &[icon="6"] { background-image: url('style_resources/noor/noor_6.png'); }
  &[icon="7"] { background-image: url('style_resources/noor/noor_7.png'); }
  &[icon="8"] { background-image: url('style_resources/noor/noor_8.png'); }
  &[icon="9"] { background-image: url('style_resources/noor/noor_9.png'); }
  &[icon="10"] { background-image: url('style_resources/noor/noor_10.png'); }
}

.question-box {
  background-color: $orange;
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 1.2em;
  font-family: Poppins, sans-serif;
  line-height: 1.2em;
  border-radius: 100px;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100vh;
  touch-action: pan-x;
  overflow-x: scroll;
  align-items: center;

  &[pagination="true"] {
    .pagination {
      display: flex;
      position: fixed;
      width: 80%;
      left: 10%;
      top: 10%;
      gap: 2px;

      .pagination-item {
        width: 100%;
        height: 5px;
        border-radius: 15px;
        background-color: darkgrey;

        &.active {
          background-color: $green;
        }
      }
    }
  }

  p,
  span {
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;

    &[color="blue"] { color: $blue; font-weight: bold; }
    &[color="pink"] { color: $pink; font-weight: bold; }
    &[color="green"] { color: $green; font-weight: bold; }
    &[color="orange"] { color: $orange; font-weight: bold; }
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 100vw;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 45px;
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
}

#slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100vh;
  touch-action: pan-x;
  overflow-x: scroll;
}

.slide {
  display: flex;
  flex-direction: column;
  flex: 0 0 100vw;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 45px;
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
}

#prevBtn, #nextBtn {
  position: fixed;
  top: 50vh;
  font-size: 2em;
  cursor: pointer;
  border: none;
  padding: 10px;
  z-index: 1;
  touch-action: none;
}

#prevBtn { left: 5vw; }
#nextBtn { left: 85vw; }

card {
  width: 65vw;
  height: 50vh;
  position: absolute;
  top: 20%;
  left: 12%;
  right: 12%;
  display: block;
  border-radius: 40px;
  outline-offset: -20px;
  padding: 15px;
  transition: transform .5s ease;
  transform-origin: bottom center;
  cursor: pointer;
  background-color: white;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;

  &[color="pink"] {
    border: 5px solid $pink;
    outline: 3px dashed $pink;
  }

  &[color="blue"] {
    border: 5px solid $blue;
    outline: 3px dashed $blue;
  }

  &[color="orange"] {
    border: 5px solid $orange;
    outline: 3px dashed $orange;
  }

  &[color="green"] {
    border: 5px solid $green;
    outline: 3px dashed $green;
  }

  &[left] { transform: rotate(-5deg); }
  &[right] { transform: rotate(5deg); }

  &.active {
    transform: rotate(0);
    z-index: 1;
  }

  content,
  card-content {
    @extend .content;
    height: 100%;
    padding: 0;
    background-color: #FDFAF7;
    border-radius: 20px;

    img {
      height: auto;
      max-width: 90%;
      max-height: 50%;
      object-fit: contain;
      pointer-events: none;
    }

    p {
      text-align: center;
      margin: 0 5%;
    }

  };

  &.animate-leave {
    animation: leave .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  &.right-card.animate-back {
    animation: backR .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  &.left-card.animate-back {
    animation: backL .3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  @keyframes leave {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-110%);
      transform: translateY(-110%) translateX(-20%);
    }
  }
  @keyframes backR {
    from {
      transform: translateY(-110%);
      transform: translateY(-110%) translateX(-20%);
    }
    to {
      transform: translateY(0) rotate(5deg);
    }
  }
  @keyframes backL {
    from {
      transform: translateY(-110%);
      transform: translateY(-110%) translateX(-20%);
    }
    to {
      transform: translateY(0) rotate(-5deg);
    }
  }
}

