<div class="audio-player-container">
    <audio src="/audio/{{filename}}" preload="metadata"></audio>
    <button class="play-icon pause"></button>
    <input type="range" class="seek-slider" max="100" value="0">
    <span class="duration time">0:00</span>
</div>