<div id="audio-player-container">
    <audio src="/audio/{{filename}}" preload="metadata"></audio>
    <button id="play-icon" class="pause"></button>
    <input type="range" id="seek-slider" max="100" value="0">
    <span id="duration" class="time">0:00</span>
</div>