<form name="courseconfig" method="post" action="{{wwwroot}}/blocks/oppia_mobile_export/export/step6.php">

    {{# has_modified_sections}}
        <h4>{{# str }}export_preserve_activity_id_title,block_oppia_mobile_export{{/ str }}</h4>
        <p>
            {{# str }}export_preserve_activity_id_desc,block_oppia_mobile_export{{/ str }}
        </p>

        <div class="quizzes-table">
            {{#sections}}
                <div class="pure-g titles">
                    <div class="pure-u-17-24 pl-3 text-left">{{title}}</div>
                    <div class="pure-u-7-24">{{# str }}export_preserve_activity_id_header,block_oppia_mobile_export{{/ str }}</div>
                </div>
                {{#activities}}
                    <div class="pure-g">
                        <div class="pure-u-17-24 step text-left pl-3">
                            <div class="pure-g">
                                <img class="pure-u-1-24" src={{icon}} />
                                <div class="pure-u-24"></div>
                                <div class="pure-u-20-24 text-left">{{name}}</div>
                            </div>
                        </div>
                        <div class="pure-u-7-24">
                            <!-- If uncheck, use the real digest value -->
                            <input type='hidden' name="digest_{{current_digest}}" value="{{current_digest}}" />
                            <input type='hidden' name="digest_{{last_published_digest}}" value="{{current_digest}}" />
                            <!-- If check, preserve the last published digest -->
                            <input class="form-checkbox" type="checkbox" name="digest_{{current_digest}}" value="{{last_published_digest}}" />
                        </div>
                    </div>
                {{/activities}}
            {{/sections}}
        </div>
    {{/ has_modified_sections}}

    {{^ has_modified_sections}}
        <div class="note">
            <p>{{# str }}export_no_content_changes_message,block_oppia_mobile_export{{/ str }}</p>
        </div>
    {{/ has_modified_sections}}

    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="stylesheet" value="{{stylesheet}}">
    <input type="hidden" name="courseexportstatus" value="{{courseexportstatus}}">
    <input type="hidden" name="server_id" value="{{server_id}}">
    <input type="hidden" name="courseroot" value="{{courseroot}}">
    <input type="hidden" name="coursetags" value="{{coursetags}}">

    {{#mediafiles}}
        <input type="hidden" name="{{digest}}_length" value="{{#resolve}}{{digest}}_length{{/resolve}}">
        <input type="hidden" name="{{digest}}" value="{{#resolve}}{{digest}}{{/resolve}}">
    {{/mediafiles}}

    <p>
        <button type="submit" name="submit" class="btn btn-primary">
            {{# str }}continue,block_oppia_mobile_export{{/ str }}
        </button>
    </p>

</form>