
<h2>{{# str }}export_step2_title,block_oppia_mobile_export{{/ str }}</h2>

<form method="post" action="{{wwwroot}}/blocks/oppia_mobile_export/export/step3.php">

    <p>{{# str }}export_contains_quizzes,block_oppia_mobile_export{{/ str }}</p>

    {{# quizzes.0}}
        {{> block_oppia_mobile_export/quizzes }}
    {{/ quizzes.0}}

    {{# quizzes.0}}
        {{> block_oppia_mobile_export/feedback }}
    {{/ quizzes.0}}


    <input type="hidden" name="id" value="{{id}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="stylesheet" value="{{stylesheet}}">
    <input type="hidden" name="server" value="{{server}}">
    <input type="hidden" name="course_export_status" value="{{course_export_status}}">

    <p style="margin-left:2em;">
        <button type="submit" name="submit" class="btn btn-primary" value="{{.}}">
            {{# str }}continue,block_oppia_mobile_export{{/ str }}
        </button>
    </p>

</form>