
<h5 class="export-error">{{# str }}duplicated_digest_title,block_oppia_mobile_export{{/ str }}</h5>
<p>
	{{# str }}duplicated_digest_description,block_oppia_mobile_export{{/ str }}

</p>
{{# duplicated }}
<div class="export-results warning">
	{{title}} (<code>{{digest}}</code>)
</div>
{{/ duplicated }}

<p>
{{# str }}duplicated_digest_footer,block_oppia_mobile_export{{/ str }}
</p>