
<div class="wrap-collabsible">
    <input id="collapsible" class="toggle" type="checkbox">
    <label for="collapsible" class="lbl-toggle">{{name}}</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <div class="quizzes-table">
                <div class="pure-g titles">
                    <div class="pure-u-4-24">Grade</div>
                    <div class="pure-u-2-24"></div>
                    <div class="pure-u-16-24">Message</div>
                    <div class="pure-u-2-24"></div>
                </div>

                <div id="main-row" class="pure-g grade-boundary-row">
                    <div class="pure-u-lg-4-24 pure-u-sm-1-2 pure-u-1">
                        <input type="hidden" name="grade_{{id}}[]" value="100" />
                        100%
                    </div>
                    <button type="button" class="pure-u-lg-2-24 add-row">+</button>
                    <div class="pure-u-lg-16-24 pure-u-1 px-6">
                        <input class="form-control" name="message_{{id}}[]" style="width:100%" value="{{grade_100_message}}">
                    </div>
                </div>

                {{# gradeBoundaries }}
                    <div class="pure-g grade-boundary-row">
                        {{> block_oppia_mobile_export/grade_boundary_extra_row }}
                    </div>
                {{/ gradeBoundaries }}



                <div class="pure-g grade-boundary-row">
                    <div class="pure-u-lg-4-24 pure-u-sm-1-2 pure-u-1">
                        <input type="hidden" name="grade_{{id}}[]" value="0" />
                        >= 0%
                    </div>
                    <div class="pure-u-lg-16-24 pure-u-1 px-6">
                        <input class="form-control" name="message_{{id}}[]" style="width:100%" value="{{grade_0_message}}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="module">

    import Mustache from '../js/mustache.js';
    let row_count = 0;

    var grades = [];
    for(var i=0; i<19; i++) {
        grades[i] = { grade: 95 - i * 5 };
    }

    function add_row(e) {
        row_count++;
        var btn = e.target;
        var new_row = document.createElement("div");
        new_row.className = "pure-g grade-boundary-row";
        var data = {
            id: row_count,
            grades: grades,
            feedback_id: {{id}}
        };
        fetch('../templates/grade_boundary_extra_row.mustache')
                .then((response) => response.text())
                .then((template) => {
                    new_row.innerHTML = Mustache.render(template, data);
                    var add_btn = document.getElementById('add-row-' + row_count);
                    add_btn.addEventListener('click', add_row);

                    var remove_btn = document.getElementById('remove-row-' + row_count);
                    remove_btn.addEventListener('click', remove_row);
                });
        btn.parentNode.parentNode.insertBefore(new_row, btn.parentNode.nextSibling);
    }

    document.querySelectorAll('.add-row').forEach(occurence => {
        occurence.addEventListener('click', (e) => {
            add_row(e);
        });
    });

    export function remove_row() {
        return this.parentNode.remove();
    }


</script>


