
<div id="feedback_{{id}}" class="wrap-collabsible">
    <input id="collapsible_{{id}}" class="toggle" type="checkbox">
    <label for="collapsible_{{id}}" class="lbl-toggle">{{section}} - {{name}}</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <div class="quizzes-table">
                <div class="pure-g titles">
                    <div class="pure-u-4-24 text-center">Grade</div>
                    <div class="pure-u-16-24 text-center">Message</div>
                    <div class="pure-u-lg-4-24 pure-u-4-24"></div>
                </div>

                <div class="pure-g grade-boundary-row h-auto">
                    <div class="pure-u-5-24 text-center">
                        <input type="hidden" name="grade_{{id}}[]" value="100" />
                        100%
                    </div>
                    <div class="pure-u-15-24 px-3">
                        <textarea class="form-control" name="message_{{id}}[]" maxlength="1000" style="width:100%">{{grade_100_message}}</textarea>
                    </div>
                    <div class="pure-u-4-24">
                        <button type="button" class="add-row-btn">+</button>
                    </div>
                </div>

                {{# gradeBoundaries }}
                        {{> block_oppia_mobile_export/grade_boundary_extra_row }}
                {{/ gradeBoundaries }}

                <div class="pure-g grade-boundary-row h-auto">
                    <div class="pure-u-5-24 text-center">
                        <input type="hidden" name="grade_{{id}}[]" value="0" />
                        >= 0%
                    </div>
                    <div class="pure-u-15-24 px-3">
                        <textarea class="form-control" name="message_{{id}}[]" maxlength="1000" style="width:100%">{{grade_0_message}}</textarea>
                    </div>
                    <div class="pure-u-4-24"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="module">

    import Mustache from '../js/mustache.js';

    function add_row(e) {
        var add_btn_clicked = e.target;
        var temp_div = document.createElement("div");
        var data = {
            feedback_id: {{id}},
            grades: {{{grades}}},
        };

        fetch('../templates/grade_boundary_extra_row.mustache', {cache: "no-cache"})
                .then((response) => response.text())
                .then((template) => {
                    temp_div.innerHTML = Mustache.render(template, data);
                    var new_row = temp_div.firstElementChild;
                    var add_btn = new_row.getElementsByClassName('add-row-btn')[0];
                    add_btn.addEventListener('click', add_row);
                    add_btn_clicked.parentNode.parentNode.parentNode.insertBefore(new_row, add_btn_clicked.parentNode.parentNode.nextSibling);

                    var remove_btn = new_row.getElementsByClassName('remove-row-btn')[0];
                    remove_btn.addEventListener('click', remove_row);
                });
    }

    function remove_row(e) {
        var remove_btn = e.target;
        var grade_boundary_row = remove_btn.parentNode.parentNode;
        grade_boundary_row.remove();
    }

    var feedbackRow = document.getElementById("feedback_{{id}}");

    feedbackRow.querySelectorAll('.add-row-btn').forEach(occurence => {
        occurence.addEventListener('click', (e) => {
            add_row(e);
        });
    });

    feedbackRow.querySelectorAll('.remove-row-btn').forEach(occurence => {
        occurence.addEventListener('click', (e) => {
            remove_row(e);
        });
    });


</script>


