<div class="pure-g grade-boundary-row h-auto">
    <div class="pure-u-5-24">
        <span>>=</span>
        <select class="form-control grade-selector" name="grade_{{feedback_id}}[]">
            {{#grades}}
                <option value="{{grade}}" {{# selected }} selected="selected" {{/ selected }}> {{grade}}%</option>
            {{/grades}}
        </select>
    </div>
    <div class="pure-u-15-24 px-3">
        <textarea name="message_{{feedback_id}}[]" class="form-control" style="width:100%">{{message}}</textarea>
    </div>
    <div class="pure-u-4-24">
        <button type="button" class="add-row-btn">+</button>
        <button type="button" class="remove-row-btn">x</button>
    </div>
</div>