
{{#server_info}}
<div class="server_info">
	<strong>{{# str }}server_info_version,block_oppia_mobile_export{{/ str }}:</strong>
	<code>{{version}}</code>
	<br>

	<strong>{{# str }}server_info_name,block_oppia_mobile_export{{/ str }}:</strong>
	<code>{{name}}</code>
	<br>

	<strong>{{# str }}server_info_max_upload,block_oppia_mobile_export{{/ str }}:</strong>
	<code>{{max_upload}}</code>
	<br>
</div>
<br>
{{/server_info}}