* { 
	padding:0px;
    margin:0px;
}
body {
	font-family: Helvetica, Verdana, sans-serif;
	line-height: 1.5em;
	margin: 5px;
	font-size:100%;
}
h1,h2,h3,h4 {
	margin: 10px 5px;
	text-align:center;
	color: $primary-color-dark;
	font-size: 120%;
}
p {
	margin:10px 5px;
}
ul {
	margin: 10px 0;

	li {
		margin-left:25px;
		list-style: none;	

		&:before {
			/* For a round bullet */
			content:'\2022';
			/* For a square bullet */
			/*content:'\25A0';*/
			display: block;
			position: relative;
			max-width: 0px;
			max-height: 0px;
			left: -20px;
			top: 2px;
			color: $primary-color;
			font-size: 30px;
			text-shadow: 0 2px 1px rgba(0,0,0,0.2);
		}
	}

	& > ul{
		margin-left:20px;
	}

	ul {
		margin-top:0;

		li { 
			line-height: 1.4em;
			&:before {
				color: $secondary-color;
				font-size: 24px;	
			}
		}
	}
}

ol {
	margin: 10px 0;
}
ol li {
	margin-left:25px;
}
a {
	color: $primary-color-dark;
	text-decoration: underline;
}
table {
	border:1px solid $table-border-color;
	width:100%;
	border-collapse: collapse;

	th {
		font-weight: bold;
		background: $table-header-bg-color;
		padding: 0.5em;
		border-bottom: 1px solid $table-border-color;
		border-right: 1px solid $table-border-color;
	}

	td {
		padding: 0.5em;
		border-bottom: 1px solid $table-border-color;
		border-right: 1px solid $table-border-color;
		vertical-align: top;
	
		& > ul > li:before {
		      /* For a round bullet */
		      content:'\2022';
		      /* For a square bullet */
		      /*content:'\25A0';*/
		      display: block;
		      position: relative;
		      max-width: 0px;
		      max-height: 0px;
		      left: -20px;
		      top: -0px;
		      color: $table-border-color;
		}
	}
}

.box {
	margin:10px 5px;
	padding: 4px 4px 4px 4px;
	border: 1px solid #888;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}
.activity, 
.core,
.casestudy,
.pause {
	
}

.definition,
.action,
.warning,
.suggestion, 
.info,
.question {
    padding: 10px 10px 5px 60px;
    background-repeat: no-repeat;
    min-height: 60px;
}
.definition{
    background-image: url('style_resources/book.png'); 
}
.action {
    background-image: url('style_resources/tick.png'); 
}
.warning {
    background-image: url('style_resources/warning.png'); 
    font-weight:bold;
}
.suggestion, .info {
    background-image: url('style_resources/info.png'); 
}
.question {
    background-image: url('style_resources/question.png'); 
}


div.question > p:first-child {
	font-weight:bold;
}
div.question p {
	margin: 0 10px 10px 0;
}
.reveal {
	text-decoration: underline;
	color: $primary-color-dark;
	cursor: pointer;

	button,input{
		box-sizing: border-box;
	    height:30px;
	    border: none;
	    vertical-align: middle;
    	outline: 0;
	}
	button{
		background-color: $primary-color;
		vertical-align: middle;
		-webkit-tap-highlight-color: transparent;
		border-top-right-radius: 3px;
  		border-bottom-right-radius: 3px;
		padding:5px;
		color: #fff;
	}
	input{
		padding-left: 5px;
	    border:1px solid #999;
	}

	.error-msg{
		text-decoration: none;
		color: #dd4444;
		font-weight: bold;
		font-size:0.8em;
	}
}
img {
	text-align:center;
	display:block;
	margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
.credit, .caption {
	font-size: 80%;
	margin: 3px 0 10px 0;
	text-align:center;
	line-height: 1.2em;
	color:#666;
	font-style:italic;
}

.showmore{
	opacity: 0;
	transition:all 1100ms;
	overflow: hidden;
	max-height:0;

	&.revealed{
		opacity:1;
		max-height: 50vh;
	}
}

.video-overlay{
  position:relative;
  width:100%;
  display: block;

  &:before, &:after{
  	content: "";
  	position:absolute;
  	position:absolute;
    left:50%;
    top:50%;
    z-index:100;
  }
  &:before{
    width:80px;
    height:80px;
  	margin-left:-40px;
    margin-top:-60px;
    border-radius: 80px;
    background-color:$primary-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  &::after{
    margin-left:-14px;
    margin-top:-40px;
    width: 0; height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 36px solid #fff;
  }
}
.video-overlay:before{
  
  width:80px;
  height:80px;
  left:50%;
  top:50%;
  margin-left:-40px;
  margin-top:-60px;
  background-color:$primary-color;
  border-radius: 80px;
  z-index:100;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.video-overlay:after{
  content: "";
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-14px;
  margin-top:-40px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 36px solid #fff;
  z-index:300;
}
.compat-warning{
	max-width:90%;
	margin: 1em auto;
	background-color:#fcf8e3;
	color:#8a6d3b;
	border-radius:2px;
	border:1px solid #fbeed5;
	padding:9px;
	line-height:100%;
	font-size:0.9em;
}