/*
Extension Essentials 
#00366A - Primary blue
#00A7DB - Secondary blue
*/

* { 
	padding:0px;
    margin:0px;
}

body {
	font-family: Helvetica, Verdana, sans-serif;
	line-height: 1.5em;
	margin: 5px 0;
}

h1 {
	padding: 10px;
	text-align:left;
	color: white;
	font-size: 130%;
	background-color: #00366A;
	margin: 10px 0;
	font-weight: bold;
}

h2 {
	padding: 10px;
	text-align:left;
	color: white;
	font-size: 120%;
    background-color: #00366A;
	margin: 10px 0;
}

h3, h4 {
	margin: 10px 0;
	padding: 10px;
	text-align:left;
	color: white;
	font-size: 110%;
    background-color: #00366A;
}

h1.unit {
	padding: 10px;
	text-align:left;
	color: #1155cc;
	font-size: 150%;
	background-color: white;
	margin: 10px 0;
}

h1.session {
	padding: 10px;
	text-align:left;
	color: #1155cc;
	font-size: 140%;
	background-color: white;
	margin: 10px 0;
}

p {
	margin:10px 20px;
}

ul {
	margin: 10px;
}

ul li {
	margin-left:25px;
	list-style: none;	
}

ul li:before {
	/* For a round bullet */
	content:'\2022';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -20px;
	top: 0;
	color: #00366A;
	font-size: 30px;
}
ul ul{
	margin-top:0;
}
ul > ul{
	margin-left:20px;
}
ul ul li:before{
	color: #00366A;
	font-size: 24px;
}
ul ul li{
	line-height: 1.4em;
}
ol {
	margin: 10px;
}
ol li {
	margin-left:25px;
}
a {
	color: #00366A;
	text-decoration: underline;
}
table {
	border:1px solid black;
	border-collapse: collapse;
	margin: 10px;
}
table th {
	font-weight: bold;
	background: #6D9EEB;
	padding: 0.5em;
	font-size: 110%;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
table td {
	padding: 0.5em;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	vertical-align: top;
}
td > ul > li:before {
        /* For a round bullet */
      content:'\2022';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -20px;
      top: -0px;
      color: #000;
}
.box {
	margin:10px 5px;
	padding: 4px 4px 4px 4px;
	border: 1px solid #888;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}
.activity, 
.core,
.casestudy,
.pause {
	
}
.definition,
.action,
.warning,
.suggestion, 
.info,
.question {
	padding: 10px 10px 5px 60px;
	background-repeat: no-repeat;
	min-height: 60px;
}
.definition{
	background-image: url('style_resources/book.png'); 
}
.action {
	background-image: url('style_resources/tick.png'); 
}
.warning {
	background-image: url('style_resources/warning.png'); 
	font-weight:bold;
}
.suggestion, .info {
	background-image: url('style_resources/info.png'); 
}
.question {
	background-image: url('style_resources/question.png'); 
}
div.question > p:first-child {
	font-weight:bold;
}
div.question p {
	margin: 0 10px 10px 0;
}
.reveal {
	text-decoration: underline;
	color: #00366A;
	cursor: pointer;
}
img {
	text-align:center;
	display:block;
	margin-left: auto;
    	margin-right: auto;
    	max-width: 90%;
}
.credit, .caption {
	font-size: 80%;
	margin: 3px 0 10px 0;
	text-align:center;
	line-height: 1.2em;
	color:#666;
	font-style:italic;
}

div.activity, div.case-study, div.subsession {
	color: #1155cc;
	background-color: #d9d9d9;
}

div.activity > h1,
div.activity > h2,
div.activity > h3,
div.activity > h4 {
	color: #1155cc;
	font-size: 110%;
	background-color: #d9d9d9;
}

div.case-study > h1,
div.case-study > h2,
div.case-study > h3,
div.case-study > h4 {
	color: #1155cc;
	font-size: 110%;
	background-color: #d9d9d9;
}

div.subsession > h1,
div.subsession > h2,
div.subsession > h3,
div.subsession > h4 {
	color: #1155cc;
	font-size: 110%;
	background-color: #d9d9d9;
}

div.key-takeaway, div.remember {
	color: #1C4587;
	background-color: #efefef;
}

div.key-takeaway > h1,
div.key-takeaway > h2,
div.key-takeaway > h3,
div.key-takeaway > h4 {
	color: #1C4587;
	font-size: 110%;
	background-color: #efefef;
}

div.remember > h1,
div.remember > h2,
div.remember > h3,
div.remember > h4 {
	color: #1C4587;
	font-size: 110%;
	background-color: #efefef;
}


div.instructions > * {
	color: black;
	font-weight: bold;
        background-color: white;
	font-size: 110%;
}